:root {
    --mc: #6d9ecc;
}

.title {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 80px auto;

    overflow: hidden;
}

.title h3 {
    display: inline-block;
    padding: 0 40px 5px 0;
    font-size: 38px;
    font-weight: 700;
    color: #000;
}

.title::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: #000;
    z-index: -1;
}

.btn {
    display: inline-flex;

    font-size: 15px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    background: #fff;
    overflow: hidden;

}



.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    white-space: nowrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);

    transition: 0.3s;
}

.header.on {
    background: rgba(0, 0, 0, 0.7);
}

.header:hover {
    background: rgba(0, 0, 0, 0.7);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    color: #fff;
}


.header_wrap .logo {
    z-index: 9999;
}

.header .gnb {
    position: relative;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -98%;
    width: 1920px;
    height: 280px;

    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.header .gnb:hover::before {
    opacity: 1;
    visibility: visible;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.gnb>ul>li:not(.bars, .lang) {
    position: relative;
}

.gnb>ul>li:not(.bars, .lang)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #ddd;

    transform: translate(-50%, 0);

    transition: 0.5s;
}


.gnb>ul>li:hover::before {
    width: 100%;
}

.gnb>ul>li>a {
    display: block;

    font-size: 20px;
    font-weight: 500;

    padding: 35px 10px;
}

.header .sub {
    position: absolute;

    top: 95px;
    left: 0;

    width: 100%;
    height: 0;

    text-align: center;

    line-height: 45px;

    z-index: 999;

    font-size: 16px;
    font-weight: 500;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}

.header .sub li:hover {
    color: var(--mc);
    font-weight: 700;
}

header .gnb:hover .sub {
    opacity: 1;
    visibility: visible;
    height: 280px;
}

.header .gnb i {
    font-size: 25px;
}

.header .gnb .lang {
    color: rgba(255, 255, 255, 0.541);
}

.header .gnb .bars {
    position: relative;
}

.header .gnb .bars:hover i {
    opacity: 0;
    transition: 0.5s;
}

.header .gnb .bars::before {
    content: "\f479";
    position: absolute;
    top: 35%;
    left: 28%;
    font-size: 25px;
    font-family: bootstrap-icons;
    opacity: 0;
    transition: 0.5s;
}

.header .gnb .bars:hover::before {
    opacity: 1;
}

/* *****헤더 끝***** */

.main_visual {
    position: relative;
    overflow: hidden;
}

.main_visual .list {
    position: absolute;
    top: 40%;
    right: 18%;
    z-index: 999;
}

.main_visual .list li {
    text-align: right;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.486);
    gap: 30px;


    transition: 0.3s;
}


.main_visual .list li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);

    margin: 0 0 0 20px;
    vertical-align: -3px;
}

.main_visual .list li.on {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main_visual .list li.on::after {
    background: #fff;
    width: 2px;
}

.main_visual .main_slide .img {
    position: relative;
    height: 100vh;
    background-size: 120% 120%;
    background-position: center center;

    /* transition: 1s; */
}

.main_visual .main_slide .img.on {
    background-size: 100% 100%;
    background-position: center center;

    transition: background-size 5s 0.5s;
}


.main_visual .main_slide .img01 {
    background-image: url(../images/vg_02_01.jpg);
}

.main_visual .main_slide .img02 {
    background-image: url(../images/vg_01_01.jpg);
}

.main_visual .main_slide .img03 {
    background-image: url(../images/vg_03.jpg);
}

.main_visual .txt_box {
    margin-top: 400px;
    color: #fff;
    word-break: keep-all;
}

.main_visual .txt_box h2 {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateX(-30%);
    opacity: 0;
    transition: 0.8s;
}

.main_visual .img.on .txt_box h2 {
    transform: translateX(0);
    opacity: 1;
}

.main_visual .txt_box p {
    font-size: 18px;
    line-height: 30px;
    width: 800px;
    transform: translateX(30%);
    opacity: 0;
    transition: 0.8s;
}

.main_visual .img.on .txt_box p {
    opacity: 1;
    transform: translateX(0);
}

/* ************************ */

.main_company {
    position: relative;

    background: linear-gradient(90deg, rgb(231, 231, 231) 70%, rgba(255, 255, 255, 0) 60%);

    z-index: -2;
}

.main_company.on {}

.main_company .company_box {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 15px;
}

.company_box .left .txt_box h3 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: #222;
}

.company_box .left .txt_box p {
    font-size: 18px;
    font-weight: 300;
    color: #777777;
}

.main_company .company_box .right .img_box {
    transform: translate(30%, 0);
    opacity: 0;
    transition: 0.8s;
}

.main_company.on .company_box .right .img_box {
    transform: translate(0, 0);
    opacity: 1;
}

.main_company .center {
    padding: 30px 0;
}


.main_company .center .mini_txt {
    position: relative;
    margin-top: -120px;
    padding: 60px;

    z-index: 2;

    width: 60%;
    background: #fff;

    box-shadow: 5px 8px 8px 0px rgba(134, 133, 133, 0.35);

    transform: translateY(50%);
    opacity: 0;
    transition: 0.9s;
}


.main_company .center.on .mini_txt {
    transform: translateY(0);
    opacity: 1;
}

.main_company .center .mini_txt strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.main_company .center .mini_txt p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 30px 0;
    color: #414141;
}

.main_company .center .mini_txt .btn {
    float: right;
}

/* ******************************** */

.main_about {}

.about_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.about_box .left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.about_box .left .img_box {
    background: url(../images/who_img01.jpg)no-repeat center center/cover;
    width: 100%;
    height: 460px;
    margin: 0 0 60px 0;
}

.about_box .left .ab_txt {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(0, -50%);
    text-align: center;
}

.about_box .left .ab_txt .tit {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 100px;
}

.about_box .left .ab_txt .icon {
    display: flex;
    gap: 55px;
}

.about_box .left .ab_txt .icon span {
    display: block;
    font-weight: 300;
    margin: 20px 0 0 0;
    color: #fff;
    padding: 5px 16px;
    transition: 0.5s;
}

.about_box .left .ab_txt .icon li {}

.about_box .left .ab_txt .icon img {
    transition: 0.5s;
}

.about_box .left .ab_txt .icon li:hover span {
    background: var(--mc);
    border-radius: 30px;
}


.about_box .left .ab_txt .icon li:hover img {
    transform: rotate(30deg);
}


.about_box .left .ab_data ul {
    display: flex;
    gap: 60px;
}


.about_box .left .ab_data span {
    display: block;
    line-height: 20px;
    margin: 20px 0;
}

.about_box .left .ab_data .counter {
    font-size: 30px;
    font-weight: 700;
    color: var(--mc);
}

.about_box .left .ab_data .name {
    font-size: 20px;
    font-weight: 600;
    color: #4d4d4e;
}

/* ****************************** */
.about_box .txt_box .box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 15px;

    border-bottom: 1px solid #ddd;
    overflow: hidden;
}


.about_box .txt_box .box .tt {}

.about_box .txt_box .box .tt span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #939393;

    margin: 0 0 20px 0;
}

.about_box .txt_box .box .tt strong {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #242424;
    margin: 0 0 20px 0;
}

.about_box .txt_box .box .tt p {
    font-size: 17px;
    line-height: 20px;
    color: #7c7c7c;

    width: 250px;

    margin: 0 0 20px 0;
}

.about_box .txt_box .box .tt .right {
    display: block;
    position: relative;
    transition: all 0.6s ease-in-out;
}

.about_box .txt_box .box .tt .right::before {
    position: absolute;
    content: "\f138";
    top: 0;
    left: 0;
    font-size: 20px;

    font-family: bootstrap-icons;
}

.about_box .txt_box .box .tt .right::after {
    position: absolute;
    content: "";
    top: 2px;
    left: -5px;
    width: 15px;
    height: 15px;
    background: rgba(82, 151, 219, 0.548);

    border-radius: 50%;
}

.about_box .txt_box .box:hover .right {
    margin-left: 50px;
}


.about_box .txt_box .box .im {
    overflow: hidden;

}

.about_box .txt_box .box img {
    transition: 0.9s;
}

.about_box .txt_box .box img:hover {
    transform: scale(1.1);
}

/* ******************************** */

.main_content {
    position: relative;
    overflow: hidden;
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.main_content .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_content .top h3 {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 4px;
}

.main_content .top p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 30px 0;
}

.main_content .top p strong {
    font-weight: 700;
}


.main_content .top .Mbtn {
    display: inline-block;
    position: relative;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    border-bottom: 1px solid #000;
}

.main_content .top .Mbtn::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: -30px;
    width: 13px;
    height: 13px;
    background: url(../images/plus_btn.png) no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.main_content .top .Mbtn:hover::after {
    bottom: 20px;
    opacity: 1;
}

.main_content .text-roller {
    position: absolute;
    top: 5%;
    color: #ededed;
    font-size: 100px;
    font-weight: 800;
    -webkit-animation: loop 50s infinite linear;
    animation: loop 50s infinite linear;
    z-index: -2;
}

.main_content .text-roller span {
    white-space: nowrap;
}

.main_content .bottom {
    padding: 80px 0;
    display: flex;
    gap: 2px;
}

.main_content .bottom .itm {
    position: relative;
    flex: 1;
    height: 500px;
    overflow: hidden;
    transition: 1.8s ease;

    cursor: pointer;
}

.main_content .bottom .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.5s;
}

.main_content .bottom .itm .txt {
    position: absolute;
    bottom: 30px;
    color: #fff;
    padding: 0 0 0 20px;
    max-width: 260px;
    min-height: 150px;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main_content .bottom .itm .txt h3 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.main_content .bottom .itm .txt p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

.main_content .bottom .itm:hover {
    flex: 5;
}

.main_content .bottom .itm:hover::before {
    background: none;
}

.main_content .bottom .itm01 {
    background: url(../images/m_exper_02_over.jpg) no-repeat center center/cover;
}

.main_content .bottom .itm02 {
    background: url(../images/m_exper_03_over.jpg) no-repeat right -250px center/cover;
}

.main_content .bottom .itm03 {
    background: url(../images/m_exper_04_over.jpg) no-repeat right -250px center/cover;
}

.main_content .bottom .itm04 {
    background: url(../images/m_exper_01_over.jpg) no-repeat center center/cover;
}

/* *********************************** */

.notice {
    padding: 0 0 160px 0;
}

.cus_wrap {
    display: flex;
}

.cus_wrap .cus_box {
    position: relative;
    padding: 80px 100px;
    flex: 1;
    height: auto;
    transform: translateY(0);
    transition: 0.8s;
}

.cus_wrap .cus_box:hover {
    transform: translateY(-60px);
}

.cus_wrap .cus_box:hover span {
    background: var(--mc);
}

.cus_wrap .cus_box img {
    display: block;
    margin: 0 0 35px 0;
}

.cus_wrap .cus_box .tx {}

.cus_wrap .cus_box strong {
    display: block;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.cus_wrap .cus_box p {
    font-size: 17px;
    margin: 0 0 30px 0;
    letter-spacing: 0.3px;
    line-height: 20px;

    color: #6e6e6e;
}

.cus_wrap .cus_box span {
    transition: 0.3s;
}

.cus_wrap .cus_box span i {
    margin: 0 5px 0 -8px;
}

.cus_wrap .box01 {
    background: #f3f3f3;
}

.cus_wrap .box02 {
    background: #e8e8e8
}

.cus_wrap .box03 {
    background: #e1e1e1;
}

/* **************************** */
.management {}

.mana_wrap {
    background: url(../images/manage_bg.jpg)no-repeat center center/cover;
    height: 524px;
}

.mana_wrap .mana_box {
    display: flex;
    gap: 100px;
    justify-content: center;

    padding-top: 100px;
}

.mana_wrap .mana_box .box {
    position: relative;
}

.mana_wrap .mana_box .tt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 328px;
    margin-top: -20px;

    text-align: center;
}


.mana_wrap .mana_box .tt strong {
    display: block;
    font-size: 30px;
    font-weight: 800;
    margin: 0 0 5px 0;
}

.mana_wrap .mana_box .tt span {
    display: block;
    font-size: 30px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.mana_wrap .mana_box .tt p {
    font-size: 17px;
    letter-spacing: 0.5px;
}

.mana_box .box01 strong,
.mana_box .box01 span {
    color: #79b238;
}

.mana_box .box02 strong,
.mana_box .box02 span {
    color: #1da69e;
}

.mana_box .box03 strong,
.mana_box .box03 span {
    color: #084c24;
}

.footer {
    background: #252525;
    color: #fff;

    padding: 30px 0;
}

.footer .footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}


.footer_wrap .ft_logo {
    font-size: 25px;
    font-weight: 600;
}

.footer_wrap .ft_txt02 p {
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.493);
}

.footer_wrap .ft_txt03 {
    line-height: 16px;
}

.footer_wrap .ft_txt03 p {
    font-size: 14px;
    color: #777777;
}

.footer_wrap .ft_txt03 span {
    display: block;
    font-size: 13px;
    color: rgba(200, 200, 200, 0.1);
    margin: 0 0 5px 0;
}

.footer_wrap .ft_txt03 .login {
    display: block;
    font-size: 13px;
    color: #8a8a8a;
}

.mopen {
    display: none;
}


/* 





























*/


@media (max-width:768px) {




    .title {
        /* r */
        margin: 0 auto 50px auto;
    }

    .title h3 {
        /* r */
        padding: 5px 15px;
        font-size: 28px;
    }

    .btn {
        /* r */
        padding: 5px 20px;
    }

    .mopen {
        position: fixed;
        display: block;
        top: 5px;
        right: 15px;
        z-index: 1000;
    }

    .mopen i {
        font-size: 50px;
        color: #fff;
    }

    .mopen.on i {
        color: var(--mc);
    }

    .header {
        /* r */
        top: 0;
        height: 60px;
        z-index: 1000;
    }

    .header:hover {
        /* r */
        background: none;
    }

    .header_wrap .logo {
        /* r */
        z-index: 9999;
        margin-top: 10px;
        width: 200px;
    }

    .header .gnb {
        /* r */
        position: fixed;
        inset: 0 0 0 0;
        background: #e8eaec;
        visibility: hidden;
        z-index: 10000;
        opacity: 0;
        transition: 0.5s;
    }

    .header .gnb.on {
        opacity: 1;
        visibility: visible;
    }

    .header .gnb::before {
        /* r */
        display: none;
    }

    .header .gnb:hover::before {
        /* r */
        display: none;
    }

    .header .gnb>ul {
        display: flex;
        gap: 30px;
        /* r */
        flex-direction: column;
        color: #000;
        background: #f5f5f5;
        margin-top: 60px;
        gap: 0;
        height: 85%;
    }

    .gnb>ul>li:not(.bars, .lang)::before {
        /* r */
        display: none;
    }


    .gnb>ul>li:hover::before {
        /* r */
        width: 0;
    }

    .gnb>ul>li>a {
        display: block;

        font-size: 20px;
        font-weight: 500;

        padding: 35px 10px;
        /* r */
        position: relative;
        padding: 30px 15px;
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }

    .gnb>ul>li>a::after {
        /* r */
        position: absolute;
        content: "\f282";
        right: 20px;
        font-family: bootstrap-icons;
        font-size: 20px;
        color: var(--mc);
    }

    .header .sub {
        /* r */
        position: sticky;
        transform: translate(0, 0);
        text-align: left;
        transition: none;
        display: none;
        opacity: 1;
        background: #ececec;
        padding: 0 15px;
    }

    .header .sub li:hover {
        /* r */
        color: #000;
        font-weight: 500;
    }

    header .gnb:hover .sub {
        /* r */
        display: none;
    }

    .header .gnb i {
        /* r */
        display: none;
    }

    .header .gnb .lang {
        /* r */
        display: none;
    }

    .header .gnb .bars {
        /* r */
        display: none;
    }

    .header .gnb .bars:hover i {
        /* r */
        opacity: 1;
        transition: none;
    }

    .header .gnb .bars::before {
        /* r */
        display: none;
    }

    .header .gnb .bars:hover::before {
        opacity: 1;
    }

    /* *****헤더 끝***** */


    .main_visual .list {
        /* r */
        display: flex;
        gap: 10px;
        right: 10%;
        top: 85%;
    }

    .main_visual .list li {
        /* r */
        display: flex;
    }


    .main_visual .list li::after {
        /* r */
        display: none;
    }

    .main_visual .list li.on {
        /* r */
        font-size: 25px;
    }

    .main_visual .list li.on::after {
        /* r */
        display: none;
    }

    .main_visual .main_slide .img {
        /* r */
        height: 60vh;
    }

    .main_visual .main_slide .img::before {
        /* r */
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.185);
    }

    .main_visual .main_slide .img.on {

        /* r */
        background-size: cover;
        transition: none;
    }

    .main_visual .txt_box {
        /* r */
        margin-top: 160px;
    }

    .main_visual .txt_box h2 {
        /* r */
        font-size: 30px;
        margin: 0 0 30px 0;
    }

    .main_visual .txt_box p {
        /* r */
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }

    /* ************************ */
    .main_company {
        padding: 0 15px;
    }

    .main_company .company_box {
        /* r */
        flex-direction: column;

    }

    .company_box .left .txt_box h3 {
        /* r */
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    .company_box .left .txt_box p {
        /* r */
        font-size: 17px;
        margin: 0 0 60px 0;
    }


    .main_company .center {
        /* r */
        padding: 0;
    }


    .main_company .center .mini_txt {
        /* r */
        margin-top: 40px;
        width: 100%;
        padding: 45px;
        transition: none;


        border: 1px solid #ddd;
    }


    .main_company .center .mini_txt p {
        /* r */
        font-size: 16px;
        font-weight: 400;
    }

    /* ******************************** */

    .main_about {
        padding: 0 10px;
    }

    .about_box {
        /* r */
        display: flex;
        flex-direction: column;

    }


    .about_box .left .img_box {
        /* r */
        height: 300px;
        margin: 0 0 30px 0;
    }

    .about_box .left .ab_txt {
        /* r */
        left: 0;
    }

    .about_box .left .ab_txt .tit {
        /* r */
        font-size: 18px;
        margin-bottom: 30px;
    }

    .about_box .left .ab_txt .icon {
        /* r */
        gap: 5px;
    }


    .about_box .left .ab_txt .icon span {
        /* r */
        font-size: 15px;
    }

    .about_box .left .ab_txt .icon img {
        /* r */
        transition: none;
        width: 30px;
    }

    .about_box .left .ab_txt .icon li:hover span {
        /* r */
        display: none;
    }


    .about_box .left .ab_txt .icon li:hover img {
        /* r */
        transform: none;
    }


    .about_box .left .ab_data ul {
        /* r */
        text-align: left;
    }


    .about_box .left .ab_data .counter {
        /* r */
        font-size: 25px;
    }

    .about_box .left .ab_data .name {
        /* r */
        font-size: 15px;
    }

    /* ****************************** */
    .about_box .txt_box .box {
        /* r */
        padding: 40px 15px;
    }

    .about_box .txt_box .box .tt span {
        /* r */
        font-size: 13px;
    }

    .about_box .txt_box .box .tt strong {
        /* r */
        font-size: 25px;
    }

    .about_box .txt_box .box .tt p {
        /* r */
        font-size: 15px;
        width: 100%;
    }

    .about_box .txt_box .box .tt .right {
        /* r */
        transition: none;
    }



    .about_box .txt_box .box:hover .right {
        display: none;
    }


    .about_box .txt_box .box img {
        transition: 0.9s;
        /* r */
        display: none;
    }

    .about_box .txt_box .box img:hover {
        transform: scale(1.1);
        /* r */
        transform: none;
    }

    /* ******************************** */
    .main_content {
        padding: 0 5px;
    }

    .main_content .top {
        /* r */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }

    .main_content .top h3 {
        /* r */
        font-size: 35px;
        margin: 0 0 30px 0;
    }

    .main_content .top p {
        /* r */
        font-size: 16px;
    }


    .main_content .top .Mbtn {
        /* r */
        text-align: left;
    }

    .main_content .top .Mbtn::after {
        /* r */
        bottom: 20px;
        opacity: 1;


    }

    .main_content .bottom {
        /* r */
        flex-direction: column;
        gap: 10px;
        padding: 0 0 40px 0;
    }

    .main_content .bottom .itm {
        /* r */
        flex: none;
        width: 100%;
        height: 180px;
    }


    .main_content .bottom .itm .txt {
        /* r */
        max-width: 100%;
        min-height: none;
        bottom: 0;
    }

    .main_content .bottom .itm .txt h3 {
        /* r */
        font-size: 20px;
        margin: 13px 0;
    }

    .main_content .bottom .itm .txt p {
        /* r */
        font-size: 15px;
    }

    .main_content .bottom .itm:hover {
        /* r */
        flex: none;
    }

    .main_content .bottom .itm:hover::before {
        background: none;
    }


    .main_content .bottom .itm02 {
        background: url(../images/m_exper_03_over.jpg) no-repeat right center/cover;
    }

    .main_content .bottom .itm03 {
        background: url(../images/m_exper_04_over.jpg) no-repeat right center/cover;
    }

    /* *********************************** */

    .notice {
        /* r */
        padding: 0;
    }

    .cus_wrap {
        /* r */
        flex-direction: column;
    }

    .cus_wrap .cus_box {
        /* r */
        transition: none;
        padding: 20px 30px;
    }

    .cus_wrap .cus_box:hover {
        /* r */
        transform: translateY(0);
    }

    .cus_wrap .cus_box:hover span {
        /* r */
        background: none;
    }

    .cus_wrap .cus_box img {
        /* r */
        margin: 0 0 15px 0;
    }

    .cus_wrap .cus_box strong {
        /* r */
        font-size: 20px;
        margin: 0 0 15px 0;
    }

    .cus_wrap .cus_box p {
        /* r */
        font-size: 15px;
        margin: 0 0 15px 0;
    }

    .cus_wrap .cus_box span {
        /* r */
        transition: none;
    }

    /* **************************** */

    .management {
        padding: 80px 5px;
    }

    .mana_wrap {

        /* r */
        background: none;
        height: 100%;

    }

    .mana_wrap .mana_box {
        /* r */
        flex-direction: column;
        gap: 50px;
        padding-top: 50px;
    }

    .mana_wrap .mana_box .box {
        /* r */
        position: relative;
        width: 100%;
        max-width: 380px;
    }


    .mana_wrap .mana_box .tt strong {
        /* r */
        font-size: 25px;
    }

    .mana_wrap .mana_box .tt span {
        /* r */
        font-size: 25px;
        margin: 0 0 15px 0;
    }

    .mana_wrap .mana_box .tt p {
        /* r */
        font-size: 16px;
    }


    .footer_wrap .ft_logo {
        font-size: 15px;
        font-weight: 600;
        /* r */
        font-size: 15px;
    }

}